opencv_python==3.4.3.18
moviepy==1.0.0
scipy==1.0.0
lxml==4.1.1
youtube_dl==2019.4.30
numpy==1.13.3
httplib2==0.12.3
Flask==1.0.2
scikit_image==0.14.1
google_api_python_client==1.7.9
beautifulsoup4==4.7.1
scenedetect==0.5
